body {
  background-color: #e0e1dd;
  font-family: "Nunito", sans-serif;
}
.nav-item {
  text-transform: uppercase;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .nav-link {
  color: white;
}
#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}
#mainNavbar .navbar-brand {
  color: #ea1c2c;
}
